<div class="full-container w3-center">
	<button class="margin owner link w3-button w3-block w3-black" [routerLink]="['/upload-photos/', id]">
		Add photos
	</button>
	<button class="margin owner link w3-button w3-block w3-black">
		Start a slideshow
	</button>
</div>

<div class="gallery">
	<div class="card" *ngFor="let photo of photosEvent" draggable="true" (dragstart)="startDragPhoto($event)">
		<div *ngIf="photo.owner.id == authenticationService.getId()" class="close" (click)="deletePhoto(photo)">&times;</div>
		<img class="photo" (click)="showModal(photo)" src="{{ photo.photo }}" />
		<div class="content">
			<!--<p class="title">{{ photo.title }}</p>-->
			<p class="owner link" [routerLink]="['/profile/', photo.owner.id]">{{ photo.owner.fullName() }}</p>
		</div>
	</div>
</div>

<div *ngIf="photoModal" class="modal">
	<span class="close" (click)="retrieveModal()">&times;</span>
	<button class="w3-button w3-black w3-display-left" (click)="next(photoModal, -1)">&#10094;</button>
	<button class="w3-button w3-black w3-display-right" (click)="next(photoModal, 1)">&#10095;</button>
	<img class="modal-content" src="{{ photoModal.photo }}" id="imageSlideSwhow">
</div>

<div (dragover)="allowDrop($event)" (drop)="onDropPhoto($event)">Drag</div>

<app-confirm-popin *ngIf="displayPopin" (onVoted)="onVoted($event)"></app-confirm-popin>