.button-pagination {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
    border: none;
}

/* Style the active/current link */
.button-pagination.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.button-pagination:hover:not(.active) {
    background-color: #ddd;
}
.button-pagination:disabled {
    background-color: #ccc;
}
