<div class="full-container w3-center">
	<button class="margin owner link w3-button w3-block w3-black" [routerLink]="['/connect/upload-photos/', id]">
		Add photos
	</button>
	<button class="margin owner link w3-button w3-block w3-black">
		Start a slideshow
	</button>
</div>

<div class="w3-center">
	<div class="w3-bar">
		<button class="link button-pagination" (click)="onPrevious()" [disabled]="currentPage == 1">&lt;</button>
		<button class="link button-pagination" *ngFor="let pageNum of pages" (click)="goTo(pageNum)" [ngClass]="{'active': pageNum === currentPage }">{{ pageNum }}</button>
		<button class="link button-pagination" (click)="onNext(true)" [disabled]="currentPage == pages.length">&gt;</button>
	</div>
</div>

<div *ngFor="let photos of photosEventPaginated">
	<!--<div class="card" *ngFor="let photo of photos">
			<div *ngIf="photo.owner.id == authenticationService.getId()" class="close" (click)="deletePhoto(photo)">&times;</div>
			<img class="photo" (click)="showModal(photo)" src="{{ photo.photo }}" />
			<div class="content">
				<p class="title">{{ photo.title }}</p>
				<p class="owner link" [routerLink]="['/connect/profile/', photo.owner.id]">{{ photo.owner.fullName() }}</p>
			</div>
		</div>-->
	<app-photos-page [page]="pages.length" [currentPage]="currentPage" [pageId]="photos.page" [photosEvent]="photos.photos" [eventId]="id"></app-photos-page>
</div>

<div class="w3-center">
	<div class="w3-bar">
		<button class="link button-pagination" (click)="onPrevious()" [disabled]="currentPage == 1">&lt;</button>
		<button class="link button-pagination" *ngFor="let pageNum of pages" (click)="goTo(pageNum)" [ngClass]="{'active': pageNum === currentPage }">{{ pageNum }}</button>
		<button class="link button-pagination" (click)="onNext(true)" [disabled]="currentPage == pages.length">&gt;</button>
	</div>
</div>