<div class="wrapper">
	<header class="w3-display-container w3-center" style="height:100%">
		<img class="w3-grayscale-max" src="http://localhost:8000/static/pictures/nicolas/background.jpeg" style="width: 100%; min-height : 200px;">
		<div class="w3-display-middle w3-padding-large w3-wide w3-text-light-grey w3-center" style="background-color: rgb(0,0,0, 0.9); min-width: 400px; min-height : 200px;">
			<h1 class="w3-xlarge">Hi everybody, my name is Nicolas Bernard. I'm an engineering student.</h1>

			<div class="w3-padding-32">
				<div class="w3-bar w3-border">
					<a href="#" class="w3-bar-item w3-button link" [routerLink]="['/nicolasbernard/cv']">Resume</a>
					<a href="#" class="w3-bar-item w3-button w3-light-grey link" [routerLink]="['/nicolasbernard/cv']">Contact</a>
				</div>
			</div>
		</div>
	</header>


	<div class="push"></div>
</div>