<div class="wrapper">

	<app-menu></app-menu>

    <app-authorization-error *ngIf="authorizationError" [message]="authorizationErrorMessage"></app-authorization-error>

	<div *ngIf="profile" class="div-background" [ngStyle]="profile.setBackgroundAvatar()">
		<div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center" style="background-color: rgb(0,0,0, 0.7);">
			<h1 class="w3-xxxlarge">{{ profile.fullName() }}</h1>
			<h3 class="w3-hide-small">{{ profile.getEmail() }}</h3>
		</div>
		<i *ngIf="profile.isMyProfile()" class="w3-button w3-black w3-display-bottomright material-icons" [routerLink]="['/connect/create-event']">edit</i>
	</div>

	<div *ngIf="profile" class="w3-margin-bottom w3-margin-top">
		<button *ngIf="profile.isMyProfile()" [routerLink]="['/connect/create-event']" class="w3-round-large w3-border w3-button">
			Créer un nouvel événement
		</button>
	</div>

	<div class="w3-container w3-blue">
		<h2>
			Accueil
		</h2>
	</div>

	<div *ngIf="profile">
		<app-full-profile *ngIf="profile.isFullProfilePage()" [profile]="profile" [connectionsToAdd]="connectionsToAdd"></app-full-profile>
		<div *ngIf="!profile.isFullProfilePage()" class="bar-content current">Vous n'êtes pas amis ...</div>
	</div>

	<div *ngIf="!profile" class="loader-container">
		<div class="loader"></div>
	</div>

	<div class="push"></div>
</div>