<div *ngIf="pageId == currentPage" class="gallery">
	<div class="card" *ngFor="let photo of photosEvent">
		<div *ngIf="photo.owner.id == authenticationService.getId()" class="close" (click)="deletePhoto(photo)">&times;</div>
		<img class="photo" (click)="showModal(photo)" src="{{ photo.photo }}" />
		<div class="content">
			<!--<p class="title">{{ photo.title }}</p>-->
			<p class="owner link" [routerLink]="['/connect/profile/', photo.owner.id]">{{ photo.owner.fullName() }}</p>
		</div>
	</div>


	<div *ngIf="photoModal" class="modal">
		<span class="close" (click)="retrieveModal()">&times;</span>
		<button class="w3-button w3-black w3-display-left" (click)="next(photoModal, -1)">&#10094;</button>
		<button class="w3-button w3-black w3-display-right" (click)="next(photoModal, 1)">&#10095;</button>
		<img class="modal-content" src="{{ photoModal.photo }}" id="imageSlideSwhow">
	</div>


	<app-confirm-popin *ngIf="displayPopin" (onVoted)="onVoted($event)"></app-confirm-popin>
</div>