<!--<div class="footer">
    <div class="footer-item copyright">
        <p class="footer-text-item">2017</p>
    </div>
    <div class="footer-item support">
        <p href="#" class="footer-text-item">Contact Us</p>
    </div>
    <div class="footer-item facebook">
        <p href="https://www.facebook.com/nicobernard026" class="footer-text-item">f</p>
    </div>
    <div class="footer-item linkedin">
        <p href="#" class="footer-text-item ">in</p>
    </div>
</div>-->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
    <i class="fa fa-github w3-hover-opacity"></i>
    <i style="margin: 0 10px;"> and </i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <i style="margin-left: 10px;">by Nicolas Bernard</i>
</footer>