<div class="wrapper">
	<div class="w3-display-container w3-center" style="padding-top: 5%;">
		<h1 class="w3-xlarge">WELCOME TO CONNECT</h1>
		<h3>Sign up or login, and start sharing photos !</h3>

		<div class="w3-padding-32">
			<div class="w3-bar w3-border">
				<a class="w3-bar-item w3-button" [routerLink]="['/connect/sign-up/']">Sign up</a>
				<a class="w3-bar-item w3-button w3-light-grey" [routerLink]="['/connect/login/']">Login</a>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>